* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
}

.calculator {
  background: #222;
  width: 320px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.calculator h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.4rem;
}

#display {
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1.6rem;
  text-align: right;
  border: none;
  border-radius: 10px;
  background: #000;
  color: rgb(124, 177, 124);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 55px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #333;
  color: #fff;
  transition: all 0.2s ease;
}

button:hover {
  background: #444;
}

button:active {
  transform: scale(0.95);
}


.operator {
  background: #b58645;
  color: #fff;
}

.operator:hover {
  background: #3b3835;
}

.equal {
  background: #34c759;
  color: #fff;
}

.equal:hover {
  background: #2fa94f;
}


.clear {
  background: #ff3b30;
  color: #fff;
}

.clear:hover {
  background: #d73228;
}
